libraries/Xilium.CefGlue/CefGlue.WindowsForms/bin/
libraries/Xilium.CefGlue/CefGlue.WindowsForms/obj/Debug/CefGlue.WindowsForms.csproj.FileListAbsolute.txt
libraries/Xilium.CefGlue/CefGlue.WindowsForms/obj/
libraries/Xilium.CefGlue/CefGlue/bin/
libraries/Xilium.CefGlue/CefGlue/obj/Debug/CefGlue.csproj.FileListAbsolute.txt
libraries/Xilium.CefGlue/CefGlue/obj/
libraries/libCometD.NET/bin/
libraries/libCometD.NET/obj/
libraries/libSuperNotifyIcon/SuperNotifyIcon/bin/
libraries/libSuperNotifyIcon/SuperNotifyIcon/obj/
libraries/netsparkle/NetSparkle/Debug/lib/net40-full/AppLimit.NetSparkle.Net40.dll
libraries/netsparkle/NetSparkle/Debug/lib/
libraries/netsparkle/NetSparkle/obj/
libraries/netsparkle/NetSparkleDSAHelper/bin/
libraries/netsparkle/NetSparkleDSAHelper/obj/
src/Troupe.Common/bin/
src/Troupe.Common/obj/
src/Troupe.WindowsApp.Auth.Chromium/bin/
src/Troupe.WindowsApp.Auth.Chromium/obj/
src/Troupe.WindowsApp.ConfigEncrypter/bin/
src/Troupe.WindowsApp.ConfigEncrypter/obj/
**/obj/**
**/bin/**
