<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="troupe" type="Troupe.Common.Config.TroupeConfigSectionHandler, Troupe.Common" />
  </configSections>
  <troupe
        environmentName="PRODUCTION"
        clientKey=“YourClientKey”
        clientSecret=“YourClientSecret”
        oauthLoginUrl="https://yourdomain.com/oauth/login"
        oauthTokenUrl="https://yourdomain.com/oauth/token"
        baseUrl="https://yourdomain.com"
        faye="https://yourdomain.com/faye"
        sparkle="http://update.yourdomain.com/windows/Troupe.WindowsApp.Appcast.xml" />

</configuration>
