<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="troupe" type="Troupe.Common.Config.TroupeConfigSectionHandler, Troupe.Common" />
  </configSections>
  <troupe environmentName="BETA"
          clientKey=“YourClientKey”
          clientSecret=“YourClientSecret”
          oauthLoginUrl="https://beta.yourdomain/oauth/login"
          oauthTokenUrl="https://beta.yourdomain/oauth/token"
          baseUrl="https://beta.yourdomain"
          faye="https://ws-beta.yourdomain/faye"
          sparkle="http://update.yourdomain/windows/beta/Appcast.xml" />
</configuration>
